{
  "plugins": ["smells", "security", "promise"],
  "extends": [
    "airbnb-base",
    "prettier",
    "prettier/prettier",
    "eslint:recommended",
    "plugin:security/recommended",
    "plugin:promise/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "sonar"
  ],
  "rules": {
    "import/no-named-as-default": 0,
    "filenames/match-exported": 0,
    "security/detect-object-injection": 0,
    "promise/no-callback-in-promise": 0,
    "prefer-rest-params": 0,
    "no-param-reassign": 0,
    "promise/always-return":0
  },
  "globals": {
    "window": true
}
}
 