/* intialization */

$border: #000;
$border-hover: rgb(12, 1, 1);
$bg-hover: #eee;
$text: #888;
$text-hover: #000;
$ident: 25px;
$left: ($ident);
$background: #fff;
$filter: #ff0000;

/* OKR treeview  */

.okrtree {
	.panelcollapse {
		max-height: 500px;
		overflow: hidden;
		transition: max-height 0.5s ease;
	}
	.panelclose {
		max-height: 0;
	}
	.paneltitle {
		cursor: pointer;
		height: 40px;
		.btn-custom {
			border: none;
			background-color: none;
			background: none;
			outline: none;
			font-size: 20px;
			position: relative;
			color: #888;
			width: 100%;
			display: flex;
			.usericons {
				position: absolute;
				left: 20px;
				top: -3px;
			}
			.content {
				margin-left: 40px;
				@media (max-width: 425px) {
					font-size: 18px;
				}
			}
			.arrow {
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 7px solid #555;
				display: inline-block;
			}
			.up {
				transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
			}
			.down {
				transform: rotate(0deg);
				-webkit-transform: rotate(0deg);
			}
		}
	}
	.usericonschild {
		position: absolute;
		left: 85px;
		@media (max-width: 425px) {
			left: 54px;
			top: 17px;
		}
	}
	ul {
		li {
			list-style-type: none;
			margin: 10px 0;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				left: $left;
				border-left: 2px solid $border;
				border-bottom: 2px solid $border;
				width: $ident;
				height: 41px;
				top: -11.5px;
			}
			&:after {
				position: absolute;
				content: "";
				top: 30px;
				left: $left;
				border-left: 2px solid $border;
				border-top: 2px solid $border;
				width: $ident;
				height: 100%;
			}
			&:last-child:after {
				display: none;
			}
			span {
				display: block;
				padding: 20px;
				color: $text;
				text-decoration: none;
				cursor: pointer;
				margin-left: 100px;
				@media (max-width: 425px) {
					padding: 15px;
					font-size: 14px;
					margin-left: 73px;
				}
			}
		}
	}
}

.okrtree {
	ul {
		li:nth-child(odd) {
			background: $bg-hover;
			color: $text-hover;
			&:hover,
			&:focus {
				background: $background;
				color: $text-hover;
			}
		}
		li:nth-child(even) {
			background: $background;
			color: $text;
			&:hover,
			&:focus {
				background: $bg-hover;
				color: $text-hover;
			}
		}
	}
}

