/* intialization */

$border: #000;
$border-hover: rgb(12, 1, 1);
$bg-hover: #eee;
$text: #888;
$text-hover: #000;
$ident: 25px;
$left: ($ident);
$background: #fff;
$filter: #ff0000;

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 10px;
  font-family: helvetica, arial, sans-serif;
}

ul {
  list-style: none;
}
/*App container */

.appContainer {
  .filter {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    margin-bottom: 20px;
    color: $filter;
  }
  .error {
    text-align: center;
    font-size: 30px;
    color: red;
  }
  .okrtree {
    .panel-collapse {
      max-height: 500px;
      overflow: hidden;
      transition: max-height 0.5s ease;
    }
    .panel-close {
      max-height: 0;
    }
    .panel-title {
      cursor: pointer;
      height: 40px;
      .btn-custom {
        border: none;
        background-color: none;
        background: none;
        outline: none;
        font-size: 20px;
        position: relative;
        color: #888;
        .usericons {
          position: absolute;
          left: 20px;
        }
        .content {
          margin-left: 40px;
        }
        .arrow {
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 7px solid #555;
          display: inline-block;
        }
        .up {
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
        }
        .down {
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
        }
      }
    }
    .usericonschild {
      position: absolute;
      left: 85px;
    }
    ul {
      li {
        list-style-type: none;
        margin: 10px 0;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          left: $left;
          border-left: 2px solid $border;
          border-bottom: 2px solid $border;
          width: $ident;
          height: 41px;
          top: -11px;
        }
        &:after {
          position: absolute;
          content: "";
          top: 30px;
          left: $left;
          border-left: 2px solid $border;
          border-top: 2px solid $border;
          width: $ident;
          height: 100%;
        }
        &:last-child:after {
          display: none;
        }
        span {
          display: block;
          padding: 20px;
          color: $text;
          text-decoration: none;
          cursor: pointer;
          margin-left: 100px;
        }
      }
    }
  }
  .okrtree {
    ul {
      li:nth-child(odd) {
        background: $bg-hover;
        color: $text-hover;
        &:hover,
        &:focus {
          background: $background;
          color: $text-hover;
        }
      }
      li:nth-child(even) {
        background: $background;
        color: $text;
        &:hover,
        &:focus {
          background: $bg-hover;
          color: $text-hover;
        }
      }
    }
  }
}
